<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Block system folder" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^\/application" ignoreCase="true" negate="false" />
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^\/system" ignoreCase="true" negate="false" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="CodeIgniter 3" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
